{  "presets": [    [      "next/babel",      {        "preset-typescript": {          "onlyRemoveTypeImports": true,          "allowNamespaces": true,          "allowDeclareFields": true        }      }    ]  ]}
